body {
    font-family: system-ui;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #526D82;
    margin: 0;
}

.stopwatch {
    text-align: center;
    background: #9DB2BF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#display {
    font-size: 48px;
    margin-bottom: 20px;
}

.buttons button {
    background-color: #86A3B8;
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;


}

#laps {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#laps li {
    font-size: 18px;
    margin: 5px 0;
}
